.container{
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice{
  text-align: center;
  display: inline-block;
}

body{
  background-color: #393E46;
  color: #4ECCA3;
}

h1{
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
  
}

p{
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}

img{
  width: 80%;
}